<ion-view view-title="GIS">
  <ion-content>
    <form enctype="multipart/form-data">
      <ion-list>
      <ion-item>
        <input id="file-input" type="file" ngf-select="onFileSelect($files)">
      </ion-item>
      <button ng-disabled="!picFile.name" class="button" ng-click="submitGeo()">
        Check Geo Data
      </button>
      </ion-list>
      <div ng-show="error">{{error}}</div>
      <img class="thumb" ng-show="picFile" ng-src="{{ImageSrc}}">
      <div ng-show="picFile" id="map" data-tap-disabled="true"></div>
    </form>
  </ion-content>
<!--   <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/dash/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content> -->
</ion-view>
