<ion-view view-title="GIS">
  <ion-content>
    <form enctype="multipart/form-data">
      <ion-list>
      <ion-item>
        <label>file 1: </label>
        <input id="file-input" type="file" ngf-select="selectFirstFile($files)">
      </ion-item>
      <ion-item>
        <label>file 2: </label>
        <input id="file-input" type="file" ngf-select="selectSecondFile($files)">
      </ion-item>
      <button ng-disabled="!pic1.name || !pic2.name" class="button" ng-click="submitGeo()">
        Check Geo Data
      </button>
      </ion-list>
      <div ng-show="distance">{{pic1.name}} is {{distance}} miles away from {{pic2.name}}</div>
      <!-- <img class="thumb" ng-show="pic1" ng-src="{{ImageSrc}}"> -->
      <div ng-show="pic1" id="map" data-tap-disabled="true"></div>
    </form>
  </ion-content>
<!--   <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/dash/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content> -->
</ion-view>
