<ion-view>
  <ion-nav-title>
    <h1 class="title">Geo. Info Sys</h1>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-pinpoint" ng-click="centerOnMe()"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
      <map center="43.07493,-89.381388" zoom="15"> 
        <!-- ngRepeat: pos in positions -->
        <marker position="{{position.lat}},{{position.lng}}" icons="direction"></marker>
      </map> 
    <div class="card">
      <div ng-show="location" class="item item-text-wrap">
        Altitude: {{location.altitude}} <br>
        Heading: {{location.heading}} <br>
        Latitude: {{location.latitude}} <br>
        Longitude: {{location.longitude}} <br>
      </div>
    </div>
  </ion-content>
</ion-view>
