/* Empty. Add your own CSS if you like */
.thumb {
  width: 50vh;
  height: 50vh;
  float: none;
  position: relative;
  display: inline;  
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  display: inline-block;  
  height: 50vh;
  width: 50vh;
}