<div data-ng-controller="EventsCtrl" class="row">
  <div class="col-lg-12">
    <rd-widget>
          <rd-widget-header icon="fa-calendar" title="Events">
            <a ng-click="doRefresh()">Refresh</a>
          </rd-widget-header>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr ng-repeat="event in events | orderBy: '+date'">
                <td>{{event.title}}</td>
                <td>{{event.content}}</td>
                <td>{{event.building}} - Floor {{event.floor}}, Room {{event.room}}</td>
                <td>{{event.start | date:'shortTime'}} - {{event.end | date:'shortTime'}} ({{event.date | date:'shortDate'}})</td>
                <td><span class="text-warning"><i ng-click="deleteEvent(event.building, event._id, $index)" class="fa fa-times-circle"></i></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>